body {
  max-width: 960px;
  margin: 0 auto;
}

.main-width, body {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center; 
}

.section:not(:last-child) {
  margin: 0 auto;
}
//TODO move sections into two columns

input, select, textarea {
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: .2rem;
  padding: .6em;
  padding-left: 4em;
  font-size: .8rem;
  color: grey;
}

@mixin plceholder () {
  font-size: .8rem;
}

textarea {
  padding: .6em;
  height: 150px;
  &:-moz-placeholder {
    @include plceholder ();
  }
  &:-ms-input-placeholder {
    @include plceholder ();
  }
  &::-moz-placeholder {
    @include plceholder ();
  }
  &::-webkit-input-placeholder {
    @include plceholder ();
  }
}

.inputWrapper {
  width: 340px;
  position: relative;
  display: flex;
  align-items: center;
  margin: 10px;
}

.inputIcon {
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: lightgrey;
  font-size: .6rem;
}

.inputIcon::after {
  content: "";
  height: 24px;
  transform: translateX(12px);
  border-right: 1px solid lightgrey;
}

select {
  color: grey;
  background: none;
  padding: .5em;
  padding-left: 3.8em;
}
